<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ("../partials/head.ejs") %>
    <title>GemHunter Designs - Bracelets</title>
</head>
<body>
    <header class="flex flex-space-between">
        <%- include ("../partials/header.ejs") %>
    </header>
    <div class="title-container">
        <h1>GemHunter</h1>
        <h3>DESIGNS</h3>
    </div>
    
    <div class="product-container flex flex-wrap flex-space-between">

        <% results.forEach(function(r) { %>
            <div class="product-displayed">
                <div class="product-image_container flex flex-center">
                    <img src="<%= r.image %>" alt="necklace" class="product-image">
                </div>
                <div class="product-desc">
                    <p><%= r.description %></p>
                </div>
                <div class="product-price-length flex">
                    <div class="product-price"><strong>&#36;<%= r.price %></strong></div>
                    <span>-</span>
                    <div class="product-length"><strong><%= r.length %>"</strong></div>
                </div>
            </div>
        <% }); %>

    </div>
    
        
        <!-- <div class="product-displayed">
            <div class="flex flex-center image-container">
                <div class="image"></div>
            </div>
            <div class="desc">
                <p>This is a description that could sometimes be a little long</p>
            </div>
            <div class="flex">
                <div class="price">50</div>
                <span>-</span>
                <div class="length">18</div>
            </div>
        </div>

        <div class="product-displayed">
            <div class="flex flex-center image-container">
                <div class="image"></div>
            </div>
            <div class="desc">
                <p>This is a description that could sometimes be a little long</p>
            </div>
            <div class="flex">
                <div class="price">50</div>
                <span>-</span>
                <div class="length">18</div>
            </div>
        </div>
    </div> -->

    <!-- <div class="flex flex_space-around">
        <div class="display-product_left">
            <div class="display-product_image-container">
                <img src="/images/blue-rb.png" alt="necklace" class="display-product_image">
            </div>
            <p class="display-product_desc">This is a short description</p>
            <div class="flex flex_space-between">
                <p class="display-product_price">Price:</p>
                <p class="display-product_length">Length:</p>
            </div>
        </div>
        <div class="display-product_right">
            <div class="display-product_image-container">
                <img src="/images/blue-rb.png" alt="necklace" class="display-product_image">
            </div>
            <p class="display-product_desc">This is a short description</p>
            <div class="flex flex_space-between display-product_pl">
                <p class="display-product_price">Price:</p>
                <p class="display-product_length">Length:</p>
            </div>
        </div>
    </div> -->
    
    <!-- <footer>
         include ("../partials/footer.ejs") %>
    </footer> -->

    <!-- <script src="main.js"></script> -->
</body>
</html>