<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ("../partials/head.ejs") %>
    <title>Hunting Gems</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</head>
<body>
    <header class="flex flex-space-between">
        <%- include ("../partials/header.ejs") %>
    </header>
    <div class="title-container">
        <h1>GemHunter</h1>
        <h3>DESIGNS</h3>
    </div>

    <h2>Let Your Gem Hunt Begin</h2>
    <!-- <div class="product-container flex flex-wrap flex-space-between">

        <% //results.forEach(function(r) { %>
            <div class="product-displayed">
                <div class="product-image_container flex flex-center">
                    <img src="<%= //r.image %>" alt="" class="product-image">
                </div>
                <div class="product-desc">
                    <p><%= //r.description %></p>
                </div>
                <div class="product-price-length flex">
                    <div class="product-price"><strong>&#36;<%= //r.price %></strong></div>
                    <span>-</span>
                    <div class="product-length"><strong><%= //r.length %>"</strong></div>
                </div>
            </div>
        <% //}); %>

    </div> -->

    <div class="home-info_container">
        <h2 class="home-info_heading">Handcrafted</h2>
        <div class="home-info_links-container flex flex-space-between">
            <a id="bracelets-link" class="shop_item">Bracelets</a>
            <a id="necklaces-link" class="shop_item">Necklaces</a>
            <a id="earrings-link" class="shop_item">Earrings</a>
            <!-- <a id="manage-link" class="shop_item">Manage</a> -->
        </div>
    </div>

    <script src="/js/huntGems.js"></script>
</body>
</html>