<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ("../partials/head.ejs") %>
    <title>GemHunter Designs - Necklaces</title>
</head>
<body>
    <header class="flex flex_space-between">
        <%- include ("../partials/header.ejs") %>
    </header>
    <div class="title-container">
        <h1>GemHunter</h1>
        <h3>DESIGNS</h3>
    </div>

    <div id="allNecklaces">
        <ul>
            <% results.forEach(function(r) { %>
                <li><%= r.description %></li>
                <li><%= r.price %> - <%= r.length %></li>
            <% }); %>
        </ul>
    </div>

    <div>
        <div>
            <img id="testImage" src="/images/blue-rb.png" alt="necklace">
            <p>Price:</p>
            <p>Length:</p>
        </div>
    </div>
    
    <footer>
        <%- include ("../partials/footer.ejs") %>
    </footer>

    <!-- <script src="main.js"></script> -->
</body>
</html>