<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ("../partials/head.ejs") %>
    <title>GemHunter Designs - Necklaces</title>
</head>
<body>
    <header class="flex flex_space-between">
        <%- include ("../partials/header.ejs") %>
    </header>
    <div class="title-container">
        <h1>GemHunter</h1>
        <h3>DESIGNS</h3>
    </div>

    <div id="allNecklaces">
        <ul>
            <% results.forEach(function(r) { %>
                <li><%= r.description %></li>
                <li><%= r.price %> - <%= r.length %></li>
            <% }); %>
        </ul>
    </div>

    <div class="flex flex_space-around">
        <div class="display-product_left">
            <div class="display-product_image-container">
                <img src="/images/blue-rb.png" alt="necklace" class="display-product_image">
            </div>
            <p class="display-product_desc">This is a short description</p>
            <div class="flex flex_space-between">
                <p class="display-product_price">Price:</p>
                <p class="display-product_length">Length:</p>
            </div>
        </div>
        <div class="display-product_right">
            <div class="display-product_image-container">
                <img src="/images/blue-rb.png" alt="necklace" class="display-product_image">
            </div>
            <p class="display-product_desc">This is a short description</p>
            <div class="flex flex_space-between">
                <p class="display-product_price">Price:</p>
                <p class="display-product_length">Length:</p>
            </div>
        </div>
    </div>
    
    <footer>
        <%- include ("../partials/footer.ejs") %>
    </footer>

    <!-- <script src="main.js"></script> -->
</body>
</html>